div.ngContent {
    display: grid;
    justify-items: stretch;
    page-break-inside : avoid;
}

div::ng-deep > * {
    padding-bottom: 10px;
}


span {
    color: red;
}

div.ngContent {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
}

div.ngContent::ng-deep > * > mat-card {
    height: 100%;
    box-sizing: border-box;
}

:host {
    display: grid;
    align-content: center;
}

@media print {
    div.ngContent {
        grid-template-columns: repeat(var(--print-columns), 1fr);
    }
}

@media screen and (max-width: 800px) {
    div.ngContent {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    div.ngContent {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    div.ngContent {
        grid-template-columns: 1fr 1fr 1fr;
    }
}