<div class="ngContent" #ngContent>
  <ng-content></ng-content>
</div>
<mat-button-toggle class="hide-at-print" *ngIf="maxNumber >= 0 && ngContent.children.length > maxNumber" (change)="toggle()">{{toggled ? 'moins (' + (ngContent.children.length - maxNumber) + ') ▲':'plus (' + (ngContent.children.length - maxNumber) + ') ▼'}}</mat-button-toggle>