<div *ngIf="auth.user | async; then authenticated else guest">

</div>

<ng-template #authenticated>
 <div *ngIf="auth.user | async as user" >
   <h3>Hello {{user.displayName}}</h3>
   <button (click)="auth.logout()">
    Logout
   </button>
 </div>
</ng-template>

<ng-template #guest>
  <h3>GUEST</h3>
  <button (click)="googleLogin()">
    Connect Using Google
  </button>
  <button (click)="back()">
    Cancel
  </button>
</ng-template>