<div>
  <ng-container *ngFor="let field of fields | keyvalue">
    <label >
      field:
      <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="field.key" [name]="name+'field.'+field.key+'.key'">
    </label><br>
    <label >
      area:
      <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="field.value.area" [name]="name+'field.'+field.key+'.area'">
    </label><br>
    <label >
      type:
      <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="field.value.type" [name]="name+'field.'+field.key+'.type'">
    </label><br>
    -<br>
  </ng-container>
</div>
