img {
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
}

@media print {
    :host {
        padding-bottom: 0px !important;
    }

    mat-card {
        display: contents;
        page-break-inside : avoid;
    }

    a > img {
        height: initial;
        max-width: 100%;
    }
    
    a > div {
        display: none;
    }
}