<mat-toolbar color="primary" role="heading">
  <a routerLink="/">CV</a>

  <span class="example-fill-remaining-space"></span>

  <a routerLink="about">A propos</a>
  <mat-divider [inset]="true">|</mat-divider>
  <ng-container *ngIf="auth.user | async">
    <a routerLink="profile">Profil</a>
    <mat-divider [inset]="true">|</mat-divider>
  </ng-container>
  <a *ngIf="!(auth.user | async)" routerLink="login">Login</a>
  <a *ngIf="auth.user | async" routerLink="" (click)="auth.logout()">Logout</a>
</mat-toolbar>