<ng-content select="[title]"></ng-content>
<cv-list [maxNumber]="maxNumber" [print-columns]="print_columns">
  <cv-card *ngFor="let element of elements" [template]="template" [element]="element"></cv-card>
</cv-list>