<div *ngIf="template" id="container" [style.grid-template-areas]="template.areas" [style.grid-template-columns]="template.columns"
  [style.grid-template-rows]="template.rows" [style.grid-column-gap]="template.columnGap" [style.grid-row-gap]="template.rowGap">
  <ng-container *ngFor="let field of fields | keyvalue">
    <a *ngIf="field.value.url" [href]="field.value.url">
      <cv-ditto [style.grid-area]="getTemplateField(field).area" [type]="getTemplateField(field).type" [value]="field.value.value"></cv-ditto>
    </a>
    <cv-ditto *ngIf="!field.value.url" [style.grid-area]="getTemplateField(field).area" [type]="getTemplateField(field).type" [value]="field.value"></cv-ditto>
  </ng-container>
</div>