<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'div'">{{value}}</div>
  <span *ngSwitchCase="'span'">{{value}}</span>
  <img *ngSwitchCase="'img'" [src]="value">
  <cv-mastery *ngSwitchCase="'mastery'" [mastery]="value"></cv-mastery>
  <cv-dates *ngSwitchCase="'dates'" [value]="value"></cv-dates>
  <span *ngSwitchCase="'native'">{{value ? 'Langue maternelle':''}}</span>
  <cv-array *ngSwitchCase="'array'" [array]="value"></cv-array>
  <div *ngSwitchDefault>default: {{value}}</div>
</ng-container>