:host {
    height: 100%;
    box-sizing: border-box;
}

cv-visibility-toggle {
    grid-area: visibility;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

@media print {
    cv-visibility-toggle {
        display: none;
    }
}