<mat-card>
  <!-- <ng-container *ngTemplateOutlet="template;context:{'value':value}"></ng-container> -->
  <cv-goku [template]="template" [fields]="element"></cv-goku>
  <cv-visibility-toggle (visibilityChange)="toggle($event)"></cv-visibility-toggle>
</mat-card>
