<mat-list>
    <ng-container *ngIf="array.separator">
      <span *ngFor="let value of array.values; let i = index">{{i > 0 ? " " + array.separator + " hi " : ""}}{{value}}</span>
    </ng-container>
    <ng-container *ngIf="!array.separator">
      <span *ngFor="let value of array; let i = index">{{i > 0 ? " | " : ""}}{{value}}</span>
    </ng-container>
  </mat-list>