<ng-container [ngSwitch]="value.type">
  <span *ngSwitchCase="'range'">{{value.start + (value.end ? ' - ' + value.end : '')}}</span>
  <span *ngSwitchCase="'diff'">{{diff(value.start,value.end)}}</span>
  <span *ngSwitchCase="'diffToday'">{{diffToday(value.start)}}</span>
  <span *ngSwitchDefault> {{value.start + (value.end ? ' - ' + value.end : '')}}</span>
</ng-container>