<h3>Section</h3>
<label>
  Title:
  <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.title" [name]="name+'title'">
</label><br>
<label>
  maxNumber:
  <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.maxNumber" [name]="name+'maxNumber'">
</label><br>
<label>
  printColumns:
  <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.printColumns" [name]="name+'printColumns'">
</label><br>

<div>
  <h4>Template:</h4>
  {{section.template | json}}<br>
  <label>
    areas:
    <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.template.areas" [name]="name+'template.areas'">
  </label><br>
  <label>
    columnGap:
    <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.template.columnGap" [name]="name+'template.columnGap'">
  </label><br>
  <label>
    rowGap:
    <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.template.rowGap" [name]="name+'template.rowGap'">
  </label><br>
  <label>
    columns:
    <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.template.columns" [name]="name+'template.columns'">
  </label><br>
  <label>
    rows:
    <input type="text" [ngModelGroup]="modelGroup" [(ngModel)]="section.template.rows" [name]="name+'template.rows'">
  </label><br>
  <h4>Fields:</h4>
  <cv-edit-fields [modelGroup]="modelGroup" [fields]="section.template.fields" [name]="name+'-fields'"></cv-edit-fields>
  <button mat-button type="button" (click)="addField()">Add Field</button>
</div>