
<form *ngIf="data" #f="ngForm" name="profileForm" (ngSubmit)="submit(f.value)">

  <label>
    Nom du CV:
    <input type="text" name="name" [(ngModel)]="data.name">
  </label><br>

  <label>
      Titre du CV:
      <input type="text" name="title" [(ngModel)]="data.title">
    </label><br>

  <div name="address" >
    <h3>Lettres de recommandation</h3>
  
    <ng-container *ngFor="let letter of data.letters; let index = index">
      <label>
        Titre:
        <input type="text" [ngModelGroup]="'letters['+index+']'" [(ngModel)]="data.letters[index].title" name="title">
      </label><br>
      <label>
        URL:
        <input type="text" [ngModelGroup]="'letters['+index+']'" [(ngModel)]="data.letters[index].img" name="img">
      </label><br>
    </ng-container>

    <button mat-button type="button" (click)="addLetter()"><mat-icon>add_circle</mat-icon>Ajouter une lettre</button>
  
  </div>

  <h2>Sections</h2>
  <div>
    <cv-edit-section *ngFor="let section of data.sections; let index = index" [section]="section" [name]="'section-'+index" [modelGroup]="'section-'+index"></cv-edit-section>
  </div>
  <button mat-button type="button" (click)="addSection()">Add Section</button>
    
  <button type="submit" [disabled]="false">Submit</button>
</form>
<button mat-button (click)="deleteCV()">Supprimer mon CV</button>
<button mat-button (click)="upgrade()">Upgrade CV</button>
{{this.data | json}}