<form #f="ngForm" name="profileForm" (ngSubmit)="submit(f.value)">

  <label>
    First Name:
    <input type="text" name="firstname" [(ngModel)]="userData.firstname">
  </label><br>

  <label>
    Last Name:
    <input type="text" [(ngModel)]="userData.lastname" name="lastname">
  </label><br>

  <label>
    email:
    <input type="text" [(ngModel)]="userData.email" name="email">
  </label><br>

  <label>
    birthdate:
    <input type="text" [(ngModel)]="userData.birthdate" name="birthdate">
  </label><br>
  
  <label>
    phone:
    <input type="text" [(ngModel)]="userData.phone" name="phone">
  </label><br>
  
  <label>
    profile picture:
    <input type="text" [(ngModel)]="userData.profilePicture" name="profilePicture">
  </label><br>

  <label>
    title:
    <input type="text" [(ngModel)]="userData.title" name="title">
  </label><br>
  
  <label>
    slug:
    <input type="text" [(ngModel)]="userData.slug" name="slug">
  </label><br>
  <div name="address" *ngIf="userData.address">
      <h3>Address</h3>
    
      <label>
        Street:
        <input type="text" ngModelGroup="address" [(ngModel)]="userData.address.street" name="street">
      </label><br>
    
      <label>
        City:
        <input type="text" ngModelGroup="address" [(ngModel)]="userData.address.city" name="city">
      </label><br>
    
      <label>
        Zip Code:
        <input type="text" ngModelGroup="address" [(ngModel)]="userData.address.zipCode" name="zipCode">
      </label><br>
    </div>
  
  <button type="submit" [disabled]="false">Submit</button>
</form>

<ng-container *ngIf="user | async as u">
  <a *ngFor="let cv of u.cvs" [routerLink]="['/edit/cv', cv.name]">
    <cv-cv-miniature [cv]="cv"></cv-cv-miniature>
  </a>
</ng-container>
<a *ngIf="auth.user | async as u" [routerLink]="['/edit/cv/']"><mat-icon>add_circle</mat-icon>Nouveau CV</a><br>



<button mat-button (click)="deleteUser()">Supprimer mon compte</button>
