<ng-container *ngIf="person | async as person">
  <cv-contact-info [person]="person"></cv-contact-info>
  <ng-container *ngIf="cv | async as cv">
    <h2>Compétences</h2>
    <ng-container *ngFor="let section of cv.sections">
      <cv-section [print-columns]="section.printColumns" [maxNumber]="section.maxNumber" [elements]="section.elements" [template]="section.template">
        <h3 title>{{section.title}}</h3>
      </cv-section>
    </ng-container>
    <h2 class="hide-at-print">Lettres de recommandation</h2>
    <cv-list [print-columns]="1">
      <cv-recommandation-letter *ngFor="let letter of cv.letters" [letter]="letter"></cv-recommandation-letter>
    </cv-list>
  </ng-container>
</ng-container>