<p>
  CV réalisé avec angular, suite à une SFEIRSchool de Strasbourg.<br>
  A terme, l'idée est de dynamiser le tout et d'utiliser un backend du type firebase.<br>
  J'aimerais aussi traduire le tout, au moins en anglais et en allemand.
</p>
