/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
    overflow: auto;
    padding: 10px !important;
}

mat-list {
    padding-top: 0px !important;
}

@media print {
    mat-card * {
        font-size: 12px;
        overflow: unset;
    }

    .hide-at-print {
        display: none !important;
    }

    a {
        text-decoration: none;
        color: black;
    }

    body {
        margin: 0px;
    }
}