<ng-container *ngIf="user | async as person">
  <cv-contact-info [person]="person"></cv-contact-info>
  <mat-card>
    <a *ngFor="let cv of person.cvs" [routerLink]="['/', person.slug, cv.name]">
      <cv-cv-miniature [cv]="cv"></cv-cv-miniature>
    </a>
  </mat-card>
  <a *ngIf="auth.user | async as u" [routerLink]="['/edit/profile', u.uid]">Editer mon profil</a>
</ng-container>