<mat-card *ngIf="person">
  <div>
    <span><a [href]="'profile/'+person.slug">{{person.firstname | firstletterUppercase}} {{person.lastname | uppercase}}</a> - <cv-dates [value]="{'type':'diffToday','start':person.birthdate}"></cv-dates> ans</span>
    <div>{{person.address?.street}}</div>
    <div>{{person.address?.zipCode}} {{person.address?.city | uppercase}}</div>
    <a [href]="'tel:'+person.phone | replace:' ':'-'">{{person.phone}}</a><br>
    <a [href]="'mailto:'+person.email">{{person.email}}</a><br>
    <div *ngFor="let social of person.socials"><a [href]="social.link">{{social.name}}</a></div>
    <h3>{{person.title}}</h3>
  </div>
  <a [href]="'profile/'+person.slug">
    <img [src]="person.profilePicture || ''">
  </a>
</mat-card>